<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
  <meta charset="utf-8">
  <title>BGCW Information Sharing System</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="static/img/favicon.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="static/lib/animate/animate.min.css" rel="stylesheet">
  <link href="static/lib/venobox/venobox.css" rel="stylesheet">
  <link href="static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="static/css/style.css" rel="stylesheet">

  <!-- niro included (css) header -->
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <!--  -->
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- BGCW Map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY&callback=myMap"></script>

  <!-- =======================================================
    Theme Name: BGCW Information Sharing System
    Theme URL: https://BGCWInformationSharingSystem
  ======================================================= -->
 <style>
  .bg2 {
  /* The image used */
  background-image: url("static/img/background/back5.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 }

  input:required:invalid{
  background-image:url('static/img/wrong.png');
  background-position:right top;
  background-size:25px 25px;
  background-repeat:no-repeat;
  }
  input:required:valid{
  background-image:url('static/img/right.png');
  background-position:right top;
  background-size:25px 25px;
  background-repeat:no-repeat;
  }
 </style>

</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <a href="#intro" class="scrollto"><img src="static\img\bgcw img\logo.png" style="padding:-4px;" width="90" height="150" alt="" title="">
           &nbsp;&nbsp;<b style="color:white;font-size:2em">BGCW</b></a>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#intro">Home</a></li>
          <li><a href="#about">About Us</a></li>
          <li><a href="#location">Location</a></li>
          <li><a href="#speakers">Facility</a></li>
          <li><a href="#schedule">Courses</a></li>
          <li><a href="#hotels">College Rating</a></li>
          <li><a href="#gallery">Gallery</a></li>
          <li><a href="#contact">Contact</a></li>
       <li>
      <div class="dropdown">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          OTHERS
        </button>
            <div class="dropdown-menu">
              <a class="dropdown-item primary" href="/alumni_login" role="button" style="color:purple"><b>Alumni Website</b></a><br>
              <a class="dropdown-item primary" href="/main_gallery" role="button" style="color:purple"><b>Upload Gallery</b></a>
            </div>
      </div>
          </li>
          </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="intro-container wow fadeIn">
      <h1 class="mb-4 pb-0"><span style="font-size:40px;">Welcome to,</span><br><span style="color:#00FFFF;font-size:35px">BGCW Information Sharing System</span></h1>
      <p class="mb-4 pb-0" style="font-size:8">Establishment In 1968,Puducherry-605003</p>
      <p style="font-size:12;color:#FF00FF;">click here..!</p>
      <a href="/main_page" class="about-btn scrollto">Get Started</a>
    </div>
  </section>

  <div id="main">

    <!--==========================
      About Section
    ============================-->
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <h2 style="color:#00FFFF;">About Us</h2>
            <p style="font-size:16px;color:#FFFFC2;text-align=justify">BGCW-Bharathidasan Government College For Women is located in pondicherry and it is affiliated with Pondicherry University.The college is offering courses to the girls child for their development of mind and knowledge through research and training programmes and industrial convocations with the practicality of the education and imparting professional Skill.</p>
            <p style="font-size:16px;color:#FFFFC2;text-align=justify">Bharathidasan Govt College for Women is situated in Puducherry in Pondicherry state of India. Established in 1968, it is accredited from NAAC and it is affiliated to Pondicherry University. BGCW, Puducherry offers 17 courses across 6 streams namely Arts, Science, Paramedical, Vocational, Commerce & Banking, Management and across 6 degrees like BSc, BA, B.Com, M.Phil, M.Com. BGCW campus is spread over 5 Acres. Hostel facility is not available for its students. Additional
              campus facilities such as Auditorium, Canteen, Computer Lab, Cultural zone, Theatre, Library, Medical Facilities, Cls. Room, Sports, Grounds are also there.</p>
          </div>
          <div class="col-lg-5">
            <a href="#intro" class="scrollto"><img src="static\img\bgcw img\principal (1).jpg" style="padding:-4px;" width="500" height="350" alt="" title="Principal image"></a>
            <br><br><h3 style="color:#00FFFF;font-size:20px">Dr. K. Subramani, M.Sc., M.Phil., Ph.D.</h3>
            <p>Our Honourable Principal (Incharge)</p>
            <p>Principal of Bharathidasan Govt.college for women(Autonomous)</p>
          </div>
        </div>
      </div>
      <div class="container" id="ab">
          <div class="row">
            <div class="col-lg-6">
              <h2 style="color:#00FFFF;">Overview :</h2><br>
              <a href="#intro" class="scrollto"><img src="static\img\bgcw img\bharathidasan.jpg" style="padding:-4px;" width="500" height="350" alt="" title="Bharathidasan image"></a>
              <br><br><h3 style="color:#00FFFF;font-size:20px">BHARATHIDASAN Statue</h3>
              <p>Statue of Bharathidasan Govt.college for women(Autonomous)</p>
            </div>
            <div class="col-lg-6">
              <br><br>
               <p style="font-size:14px;color:#FFFFC2;text-align=justify;">Bharathidasan Government College for Women, in the name of the great poet of this soil, was ushered into being in the beginning of the Academic Year 1968-1969. During the span of this 50 years the college has witnessed a phenomenal growth both qualitatively and quantitatively. It caters to the needs of women students by offering a wide range of Science, Arts and Commerce courses (i.e.) 16 Under-Graduate, two Post-Graduate and two M.Phil. and one Ph.D. Programme.
               <br><br>The excellent performance of the students both in the curricular and extra-curricular activities has facilitated the institution to get the autonomous status in the academic year 2004-2005. Autonomy extension is granted from 2012 to 2018. This college is the first autonomous institution in the Union Territory of Puducherry affiliated to the Pondicherry University.
               <br><br>With focus on the Knowledge-based economy, pioneering efforts are being undertaken to exhibit the talents of our students. Every year more than 200 students of this institution get themselves placed in suitable jobs through the Placement Cell.
               <br>Bharathidasan Government College for Women with its autonomous status will bloom as an epicenter in promoting quality standards and shaping a Knowledge-driven economy.</p>
            </div>
          </div>
      </div>
    </section>

    <!--==========================
      Facility Section
    ============================-->
    <section id="speakers" class="wow fadeInUp" style="background-color:#addfff;">
      <div class="container">
        <div class="section-header">
          <h2 style="color:#000000;font-size:40px">Facility</h2>
          <p style="color:#6C2DC7;font-size:20px">Here are some of our Facilities</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="speaker">
              <img src="static/img/gal/t9.jpg" alt="speaker 1" class="img-fluid">
              <div class="details">
                <h3><a href="#">Projector Based Classes</a></h3>
                <p>Well Facilitated Projector Based Class Rooms</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker">
              <img src="static/img/gal/q.jpg" alt="Speaker 2" class="img-fluid">
              <div class="details">
                <h3><a href="#">Drinking Water Facility</a></h3>
                <p>Hygienic Purified Drinking Water Facilities</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-5">
            <div class="speaker">
              <img src="static/img/gal/ground.jpg" alt="Speaker 3" class="img-fluid">
              <div class="details">
                <h3><a href="#">Play Ground Facility</a></h3>
                <p>All Game Play Ground Facilities</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker">
              <img src="static/img/gal/q.jpg" alt="Speaker 4" class="img-fluid">
              <div class="details">
                <h3><a href="#">Computer Science Lab Facility</a></h3>
                <p>well Facilitated Laboratory for Computer Science</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker">
              <img src="static/img/gal/food.jpg" alt="Speaker 5" class="img-fluid">
              <div class="details">
                <h3><a href="#">Home Science Lab Facility</a></h3>
                <p>well Facilitated Laboratory for Home Science</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker">
              <img src="static/img/gal/lab1.jpg" alt="Speaker 6" class="img-fluid">
              <div class="details">
                <h3><a href="#">Chemistry Lab Facility</a></h3>
                <p>well Facilitated Laboratory for Chemistry</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker">
              <img src="static/img/gal/phlab.png" alt="Speaker 6" class="img-fluid">
              <div class="details">
                <h3><a href="#">Physics Lab Facility</a></h3>
                <p>well Facilitated Laboratory for Physics</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker">
              <img src="static/img/gal/a2.jpg" alt="Speaker 6" class="img-fluid">
              <div class="details">
                <h3><a href="">Canteen Facility</a></h3>
                <p>well Facilitated Canteen for Student</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker">
              <img src="static/img/gal/lib.jpg" alt="Speaker 6" class="img-fluid">
              <div class="details">
                <h3><a href="#">Library Facility</a></h3>
                <p>well Facilitated Library for Student</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker">
              <img src="static/img/gal/d.jpg" alt="Speaker 6" class="img-fluid">
              <div class="details">
                <h3><a href="#">Stress Free Campus</a></h3>
                <p>Stress Free Campus for All Student</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker">
              <img src="static/img/gal/event.jpg" alt="Speaker 6" class="img-fluid">
              <div class="details">
                <h3><a href="#">Cultural Zone</a></h3>
                <p>Cultural Zone Facilities</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker">
              <img src="static/img/gal/b1.jpg" alt="Speaker 6" class="img-fluid">
              <div class="details">
                <h3><a href="#">Vehicle parking</a></h3>
                <p>Vehicle Parking Facilities</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>

    <!--==========================
      Courses Section
    ============================-->
    <section id="schedule" class="section-with-bg" style="background-color:#ffffcc">
        <div class="container wow fadeInUp">
          <div class="section-header">
            <h2>Courses Offered</h2>
            <p style="color:#00FFFF;font-size:25px">Here is our Courses</p>
          </div>

          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link" href="#day-1" role="tab" data-toggle="tab">B.A.</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#day-2" role="tab" data-toggle="tab">B.Sc.</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#day-3" role="tab" data-toggle="tab">B.Com.</a>
            </li><br><br>
            <li class="nav-item">
              <a class="nav-link" href="#day-4" role="tab" data-toggle="tab">M.Sc.</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#day-5" role="tab" data-toggle="tab">M.Phil.</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#day-6" role="tab" data-toggle="tab">Ph.D.</a>
            </li>
          </ul>

          <h3 class="sub-heading">Choose The Correct Path of Your Life so, Choose your Degree Today....!</h3>

          <div class="tab-content row justify-content-center">

            <!-- Schdule for B.A. course 1 -->
            <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="day-1">

              <h3 style="color:#008080"><b>Bachelor of Arts [B.A.]</b></h3>
              <div class="row schedule-item">
                <div class="col-md-2"><br>
                  <time style="color:#FF2400">3-Years</time><br><time>Full Time</time>
                </div>
                <div class="col-md-6">
                  <P style="text-align:center;color:#0000A0;font-size:17px;"><br>&nbsp;&nbsp;B.A. TAMIL</P>
                </div>
                <div class="col-md-4">
                  <h6 class="sub-heading" style="color:#F6358A">Get The Fees Details</h6>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<time>Rs.1,618 /- (Per Year)</time></div>
              </div>

              <div class="row schedule-item">
                <div class="col-md-2"><br>
                  <time style="color:#FF2400">3-Years</time><br><time>Full Time</time>
                </div>
                <div class="col-md-6">
                  <P style="text-align:center;color:#0000A0;font-size:17px;"><br>&nbsp;&nbsp;B.A. ENGLISH</P>
                </div>
                <div class="col-md-4">
                  <h5 class="sub-heading" style="color:#F6358A">Get The Fees Details</h5>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<time>Rs.1,618 /- (Per Year)</time></div>
              </div>

              <div class="row schedule-item">
                <div class="col-md-2"><br>
                  <time style="color:#FF2400">3-Years</time><br><time>Full Time</time>
                </div>
                <div class="col-md-6">
                  <P style="text-align:center;color:#0000A0;font-size:17px;"><br>&nbsp;&nbsp;B.A. HISTORY</P>
                </div>
                <div class="col-md-4">
                  <h5 class="sub-heading" style="color:#F6358A">Get The Fees Details</h5>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<time>Rs.1,618 /- (Per Year)</time></div>
              </div>

              <div class="row schedule-item">
                <div class="col-md-2"><br>
                  <time style="color:#FF2400">3-Years</time><br><time>Full Time</time>
                </div>
                <div class="col-md-6">
                  <P style="text-align:center;color:#0000A0;font-size:17px;"><br>&nbsp;&nbsp;B.A. FRENCH</P>
                </div>
                <div class="col-md-4">
                  <h5 class="sub-heading" style="color:#F6358A">Get The Fees Details</h5>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<time>Rs.1,618 /- (Per Year)</time></div>
              </div>

              <div class="row schedule-item">
                <div class="col-md-2"><br>
                  <time style="color:#FF2400">3-Years</time><br><time>Full Time</time>
                </div>
                <div class="col-md-6">
                  <P style="text-align:center;color:#0000A0;font-size:17px;"><br>&nbsp;&nbsp;B.A. ECONOMICS</P>
                </div>
                <div class="col-md-4">
                  <h5 class="sub-heading" style="color:#F6358A">Get The Fees Details</h5>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<time>Rs.1,618 /- (Per Year)</time></div>
              </div>

            </div>
            <!-- End Schdule for B.A. course 1 -->

            <!-- Schdule for B.Sc. course 2 -->
            <div role="tabpanel" class="col-lg-9  tab-pane fade" id="day-2">

              <h3 style="color:#008080"><b>Bachelor of Science [B.Sc.]</b></h3>
              <div class="row schedule-item">
                <div class="col-md-2"><br>
                  <time style="color:#FF2400">3-Years</time><br><time>Full Time</time>
                </div>
                <div class="col-md-6">
                  <P style="text-align:center;color:#0000A0;font-size:17px;"><br>&nbsp;&nbsp;B.Sc. MATHEMATICS</P>
                </div>
                <div class="col-md-4">
                  <h6 class="sub-heading" style="color:#F6358A">Get The Fees Details</h6>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<time>Rs.1,618 /- (Per Year)</time></div>
              </div>

              <div class="row schedule-item">
                <div class="col-md-2"><br>
                  <time style="color:#FF2400">3-Years</time><br><time>Full Time</time>
                </div>
                <div class="col-md-6">
                  <P style="text-align:center;color:#0000A0;font-size:17px;"><br>&nbsp;&nbsp;B.Sc. PHYSICS</P>
                </div>
                <div class="col-md-4">
                  <h5 class="sub-heading" style="color:#F6358A">Get The Fees Details</h5>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<time>Rs.1,618 /- (Per Year)</time></div>
              </div>

              <div class="row schedule-item">
                <div class="col-md-2"><br>
                  <time style="color:#FF2400">3-Years</time><br><time>Full Time</time>
                </div>
                <div class="col-md-6">
                  <P style="text-align:center;color:#0000A0;font-size:17px;"><br>&nbsp;&nbsp;B.Sc. CHEMISTRY</P>
                </div>
                <div class="col-md-4">
                  <h5 class="sub-heading" style="color:#F6358A">Get The Fees Details</h5>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<time>Rs.1,618 /- (Per Year)</time></div>
              </div>

              <div class="row schedule-item">
                <div class="col-md-2"><br>
                  <time style="color:#FF2400">3-Years</time><br><time>Full Time</time>
                </div>
                <div class="col-md-6">
                  <P style="text-align:center;color:#0000A0;font-size:17px;"><br>&nbsp;&nbsp;B.Sc. BOTANY</P>
                </div>
                <div class="col-md-4">
                  <h5 class="sub-heading" style="color:#F6358A">Get The Fees Details</h5>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<time>Rs.1,618 /- (Per Year)</time></div>
              </div>

              <div class="row schedule-item">
                <div class="col-md-2"><br>
                  <time style="color:#FF2400">3-Years</time><br><time>Full Time</time>
                </div>
                <div class="col-md-6">
                  <P style="text-align:center;color:#0000A0;font-size:17px;"><br>&nbsp;&nbsp;B.Sc. ZOOLOGY</P>
                </div>
                <div class="col-md-4">
                  <h5 class="sub-heading" style="color:#F6358A">Get The Fees Details</h5>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<time>Rs.1,618 /- (Per Year)</time></div>
              </div>

              <div class="row schedule-item">
                <div class="col-md-2"><br>
                  <time style="color:#FF2400">3-Years</time><br><time>Full Time</time>
                </div>
                <div class="col-md-6">
                  <P style="text-align:center;color:#0000A0;font-size:17px;"><br>&nbsp;&nbsp;B.Sc. CLINICAL NUTRITION AND DIETETICS(VOC)</P>
                </div>
                <div class="col-md-4">
                  <h5 class="sub-heading" style="color:#F6358A">Get The Fees Details</h5>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<time>Rs.1,618 /- (Per Year)</time></div>
              </div>

              <div class="row schedule-item">
                <div class="col-md-2"><br>
                  <time style="color:#FF2400">3-Years</time><br><time>Full Time</time>
                </div>
                <div class="col-md-6">
                  <P style="text-align:center;color:#0000A0;font-size:17px;"><br>&nbsp;&nbsp;B.Sc. COMPUTER SCIENCE</P>
                </div>
                <div class="col-md-4">
                  <h5 class="sub-heading" style="color:#F6358A">Get The Fees Details</h5>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<time>Rs.1,618 /- (Per Year)</time></div>
              </div>

            </div>
            <!-- End Schdule for B.Sc. course 2 -->

          <!-- Schdule for B.Com. course 3 -->
          <div role="tabpanel" class="col-lg-9  tab-pane fade" id="day-3">

            <h3 style="color:#008080"><b>Bachelor of Commerce [B.COM.]</b></h3>
            <div class="row schedule-item">
                <div class="col-md-2"><br>
                  <time style="color:#FF2400">3-Years</time><br><time>Full Time</time>
                </div>
                <div class="col-md-6">
                  <P style="text-align:center;color:#0000A0;font-size:17px;"><br>&nbsp;&nbsp;B.Com. General</P>
                </div>
                <div class="col-md-4">
                  <h5 class="sub-heading" style="color:#F6358A">Get The Fees Details</h5>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<time>Rs.1,518 /- (Per Year)</time></div>
            </div>

            <div class="row schedule-item">
                <div class="col-md-2"><br>
                  <time style="color:#FF2400">3-Years</time><br><time>Full Time</time>
                </div>
                <div class="col-md-6">
                  <P style="text-align:center;color:#0000A0;font-size:17px;"><br>&nbsp;&nbsp;B.Com. CORPORATE SECRETARYSHIP</P>
                </div>
                <div class="col-md-4">
                  <h5 class="sub-heading" style="color:#F6358A">Get The Fees Details</h5>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<time>Rs.1,518 /- (Per Year)</time></div>
            </div>

          </div>
          <!-- End Schdule for B.Com. course 3 -->

            <!-- Schdule for PG course 4 -->
          <div role="tabpanel" class="col-lg-9  tab-pane fade" id="day-4">

            <h3 style="color:#008080"><b>POST-GRADUATE COURSES</b></h3>
            <div class="row schedule-item">
                <div class="col-md-2"><br>
                  <time style="color:#FF2400">3-Years</time><br><time>Full Time</time>
                </div>
                <div class="col-md-6">
                  <P style="text-align:center;color:#0000A0;font-size:17px;"><br>&nbsp;&nbsp;M.Sc. Food Service Management and Dietetics</P>
                </div>
                <div class="col-md-4">
                  <h5 class="sub-heading" style="color:#F6358A">Get The Fees Details</h5>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<time>Rs.1,558 /- (Per Year)</time></div>
            </div>

            <div class="row schedule-item">
                <div class="col-md-2"><br>
                  <time style="color:#FF2400">3-Years</time><br><time>Full Time</time>
                </div>
                <div class="col-md-6">
                  <P style="text-align:center;color:#0000A0;font-size:17px;"><br>&nbsp;&nbsp;M.Com. CORPORATE SECRETARY</P>
                </div>
                <div class="col-md-4">
                  <h5 class="sub-heading" style="color:#F6358A">Get The Fees Details</h5>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<time>Rs.1,628 /- (Per Year)</time></div>
            </div>

          </div>
          <!-- End Schdule for PG course 4 -->

           <!-- Schdule for RP course 5 -->
          <div role="tabpanel" class="col-lg-9  tab-pane fade" id="day-5">

            <h3 style="color:#008080"><b>RESEARCH PROGRAMME</b></h3>
            <div class="row schedule-item">
                <div class="col-md-2"><br>
                  <time style="color:#FF2400">3-Years</time><br><time>Full Time</time>
                </div>
                <div class="col-md-6">
                  <P style="text-align:center;color:#0000A0;font-size:17px;"><br>&nbsp;&nbsp;M.Phil. HOME SCIENCE</P>
                </div>
                <div class="col-md-4">
                  <h5 class="sub-heading" style="color:#F6358A">Get The Fees Details</h5>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<time>Rs.2,185 /- (Per Year)</time></div>
            </div>

            <div class="row schedule-item">
                <div class="col-md-2"><br>
                  <time style="color:#FF2400">3-Years</time><br><time>Full Time</time>
                </div>
                <div class="col-md-6">
                  <P style="text-align:center;color:#0000A0;font-size:17px;"><br>&nbsp;&nbsp;M.Phil. CORPORATE SECRETARYSHIP</P>
                </div>
                <div class="col-md-4">
                  <h5 class="sub-heading" style="color:#F6358A">Get The Fees Details</h5>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<time>Rs.2,185 /- (Per Year)</time></div>
            </div>

          </div>
          <!-- End Schdule for RP course 5 -->

          <!-- Schdule for Dr. course 6 -->
          <div role="tabpanel" class="col-lg-9  tab-pane fade" id="day-6">

            <h3 style="color:#008080"><b>DOCTORAL PROGRAMME</b></h3>
            <div class="row schedule-item">
                <div class="col-md-2"><br>
                  <time style="color:#FF2400">3-Years</time><br><time>Full Time</time>
                </div>
                <div class="col-md-6">
                  <P style="text-align:center;color:#0000A0;font-size:17px;"><br>&nbsp;&nbsp;Ph.D. HOME SCIENCE</P>
                </div>
                <div class="col-md-4">
                  <h5 class="sub-heading" style="color:#F6358A">Get The Fees Details</h5>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<time>Rs.2,128 /- (Per Year)</time></div>
            </div>

          </div>
          <!-- End Schdule for Dr. course 6 -->

        </div>

      </div>

    </section>


    <!--==========================
      College Rating Section
    ============================-->
    <section id="hotels" class="section-with-bg wow fadeInUp" style="background-color:#adc3fd;">

      <div class="container">
        <div class="section-header">
          <h2>COLLEGE RATING</h2>
          <p>Here are some of our College Rating</p>
        </div>

        <div class="row"><br>

          <div class="col-lg-4 col-md-6" style="background:#00FFFF;"><br>
            <div class="hotel">
              <div style="text-align:center;"><br>
                <i class='fas fa-book-reader' style='font-size:48px;color:#F660AB;'></i><br><br>
                <i style="color:red;font-size:20px;"><b>Rating = 6.8/10</b></i><br><br>
                <h2><B>ACADEMIC</B></h2>
              </div>
              <div class="stars" style="text-align:center;">
                <i class="fa fa-star" style="font-size:30px;"></i>
                <i class="fa fa-star" style="font-size:30px;"></i>
                <i class="fa fa-star" style="font-size:30px;"></i>
                <i class="fa fa-star" style="font-size:30px;"></i>
                <i class="fa fa-star" style="font-size:30px;"></i>
              </div>
              <p style="text-align:center;color:#0000A0;font-size:20px;">5 stars</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" style="background:#00FFFF;"><br>
            <div class="hotel">
              <div style="text-align:center;"><br>
                <i class='fas fa-school' style='font-size:48px;color:#F660AB;'></i><br><br>
                <i style="color:red;font-size:20px;"><b>Rating = 6.3/10</b></i><br><br>
                <h2><B>ACCOMODATION</B></h2>
              </div>
              <div class="stars" style="text-align:center;">
                <i class="fa fa-star" style="font-size:30px;"></i>
                <i class="fa fa-star" style="font-size:30px;"></i>
                <i class="fa fa-star" style="font-size:30px;"></i>
                <i class="fa fa-star" style="font-size:30px;"></i>
                <i class="fa fa-star-half-full" style="font-size:30px;"></i>
              </div>
              <p style="text-align:center;color:#0000A0;font-size:20px;">5 stars</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" style="background:#00FFFF;"><br>
            <div class="hotel">
              <div style="text-align:center;"><br>
                <i class='fas fa-building' style='font-size:48px;color:#F660AB;'></i><br><br>
                <i style="color:red;font-size:20px;"><b>Rating = 7/10</b></i><br><br>
                <h2><B>INFRASTRUCTURE</B></h2>
              </div>
              <div class="stars" style="text-align:center;">
                <i class="fa fa-star" style="font-size:30px;"></i>
                <i class="fa fa-star" style="font-size:30px;"></i>
                <i class="fa fa-star" style="font-size:30px;"></i>
                <i class="fa fa-star" style="font-size:30px;"></i>
                <i class="fa fa-star" style="font-size:30px;"></i>
              </div>
              <p style="text-align:center;color:#0000A0;font-size:20px;">5 stars</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" style="background:#00FFFF;">
            <div class="hotel">
              <div style="text-align:center;"><br>
                <i class="fas fa-briefcase" style='font-size:45px;color:#F660AB;'></i><br><br>
                <i style="color:red;font-size:20px;"><b>Rating = 6.7/10</b></i><br><br>
                <h2><B>PLACEMENET</B></h2>
              </div>
              <div class="stars" style="text-align:center;">
                <i class="fa fa-star" style="font-size:30px;"></i>
                <i class="fa fa-star" style="font-size:30px;"></i>
                <i class="fa fa-star" style="font-size:30px;"></i>
                <i class="fa fa-star-half-full" style="font-size:30px;"></i>
              </div>
              <p style="text-align:center;color:#0000A0;font-size:20px;">5 stars</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" style="background:#00FFFF;">
            <div class="hotel">
              <div style="text-align:center;"><br>
                <i class="material-icons" style="font-size:48px;color:#F660AB;">group</i><br><br>
                <i style="color:red;font-size:20px;"><b>Rating = 7.3/10</b></i><br><br>
                <h2><B>FACULTY</B></h2>
              </div>
              <div class="stars" style="text-align:center;">
                <i class="fa fa-star" style="font-size:30px;"></i>
                <i class="fa fa-star" style="font-size:30px;"></i>
                <i class="fa fa-star" style="font-size:30px;"></i>
                <i class="fa fa-star" style="font-size:30px;"></i>
                <i class="fa fa-star-half-full" style="font-size:30px;"></i>
              </div>
              <p style="text-align:center;color:#0000A0;font-size:20px;">5 stars</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" style="background:#00FFFF;">
            <div class="hotel">
              <div class="hotel-img" style="text-align:center;"><br>
                <i class="material-icons" style="font-size:48px;color:#F660AB;">share</i><br><br>
                <i style="color:red;font-size:20px;"><b>Rating = 7.3/10</b></i><br><br>
                <h2><B>SOCIAL</B></h2>
              </div>
              <div class="stars" style="text-align:center;">
                <i class="fa fa-star" style="font-size:30px;"></i>
                <i class="fa fa-star" style="font-size:30px;"></i>
                <i class="fa fa-star" style="font-size:30px;"></i>
                <i class="fa fa-star" style="font-size:30px;"></i>
              </div>
              <p style="text-align:center;color:#0000A0;font-size:20px;">5 stars</p>
            </div>
          </div>

        </div>
      </div>

    </section>

    <!--==========================
      Gallery Section
    ============================-->
    <section id="gallery" class="wow fadeInUp">

      <div class="container">
        <div class="section-header">
          <h2>Gallery</h2>
          <p>Check our gallery from the recent events</p>
        </div>
      </div>

      <div class="owl-carousel gallery-carousel">
        <a href="static\img\bgcw img\principal (1).jpg.jpg" class="venobox" data-gall="gallery-carousel"><img src="static\img\bgcw img\principal (1).jpg" width="50" height="200" alt=""></a>
        <a href="static\img\bgcw img\b1.jpg" class="venobox" data-gall="gallery-carousel"><img src="static\img\bgcw img\b1.jpg" width="50" height="200" alt=""></a>
        <a href="static\img\bgcw img\b2.jpg" class="venobox" data-gall="gallery-carousel"><img src="static\img\bgcw img\b2.jpg" width="50" height="200" alt=""></a>
        <a href="static\img\bgcw img\b3.jfif" class="venobox" data-gall="gallery-carousel"><img src="static\img\bgcw img\b3.jfif" width="50" height="200" alt=""></a>
        <a href="static\img\bgcw img\b4.jpg" class="venobox" data-gall="gallery-carousel"><img src="static\img\bgcw img\b4.jpg" width="50" height="200" alt=""></a>
        <a href="static\img\bgcw img\b5.jpg" class="venobox" data-gall="gallery-carousel"><img src="static\img\bgcw img\b5.jpg" width="50" height="200" alt=""></a>
        <a href="static\img\bgcw img\b6.jpg" class="venobox" data-gall="gallery-carousel"><img src="static\img\bgcw img\b6.jpg" width="50" height="200" alt=""></a>
        <a href="static\img\bgcw img\b11.jpg" class="venobox" data-gall="gallery-carousel"><img src="static\img\bgcw img\b11.jpg" width="50" height="200" alt=""></a>
        <a href="static\img\bgcw img\b8.jpg" class="venobox" data-gall="gallery-carousel"><img src="static\img\bgcw img\b8.jpg" width="50" height="200" alt=""></a>
        <a href="static\img\bgcw img\b9.jpg" class="venobox" data-gall="gallery-carousel"><img src="static\img\bgcw img\b9.jpg" width="50" height="200" alt=""></a>
        <a href="static\img\bgcw img\b10.jfif" class="venobox" data-gall="gallery-carousel"><img src="static\img\bgcw img\b10.jfif" width="50" height="200" alt=""></a>
        <a href="static\img\bgcw img\b12.jpg" class="venobox" data-gall="gallery-carousel"><img src="static\img\bgcw img\b12.jpg" width="50" height="200" alt=""></a>
        <a href="static\img\bgcw img\b13.jpg" class="venobox" data-gall="gallery-carousel"><img src="static\img\bgcw img\b13.jpg" width="50" height="200" alt=""></a>
        <a href="static\img\bgcw img\b14.jpg" class="venobox" data-gall="gallery-carousel"><img src="static\img\bgcw img\b14.jpg" width="50" height="200" alt=""></a>
        <a href="static\img\bgcw img\b15.jpg" class="venobox" data-gall="gallery-carousel"><img src="static\img\bgcw img\b15.jpg" width="50" height="200" alt=""></a>

      </div>

    </section>

    <!--==========================
      Map (Location) Section  11.9420943,79.7889541
    ============================-->
    <center id="location">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3903.434204007158!2d79.82834421475997!3d11.944410691535532!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a5363d80fb485a3%3A0x8599fc4ca61ce4dc!2sBharathidasan%20Govt.%20College%20For%20Women!5e0!3m2!1sen!2sin!4v1582104241124!5m2!1sen!2sin" width="1500" height="450" frameborder="0" style="border:5;" allowfullscreen=""></iframe>
    </center><br><br>

    <!--==========================
      Contact Section
    ============================-->

    <section id="contact" class="section-bg bg2 wow fadeInUp">

      <div class="container">

        <div class="section-header">
          <h2>Contact Us</h2>
          <p style="font-weight:800;color:#387c44;">Muthialpet Puducherry, Puducherry
             Pondicherry - 605003
             Puducherry , India
          </p>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="ion-ios-location-outline"></i>
              <h3 style="color:#000000;"><b>Address</b></h3>
              <address style="color:#306eff;font-weight:600;">Muthialpet ,
                       Puducherry - 605003, India.
              </address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="ion-ios-telephone-outline"></i>
              <h3 style="color:#000000;"><b>Phone Number</b></h3>
              <p><a href="tel:0413-2212704" style="font-weight:800;">0413-2212704<br>0413-2213504</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="ion-ios-email-outline"></i>
              <h3 style="color:#000000;"><b>Email</b></h3>
              <p><a href="bgcw.pon@nic.in" style="font-weight:600;">bgcw.pon@nic.in<br>bgcw1968@yahoo.com</a></p>
            </div>
          </div>

        </div>

        <div class="form">
          <div id="sendmessage">Your message has been sent. Thank you!</div>
          <div id="errormessage"></div>
          <form action="/adminfeed_db" method="post" role="form" class="contactForm">
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" name="name" style="font-weight:600;" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group col-md-6">
                <input type="email" class="form-control" style="font-weight:600;" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" style="font-weight:600;" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <textarea class="form-control" style="font-weight:600;" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
              <div class="validation"></div>
            </div>
            <div class="text-center"><button type="submit" style="font-weight:600;">Send Message</button></div>
          </form>
        </div>

      </div>
    </section><!-- #contact -->

  </div>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-6 col-md-6 footer-info">
            <div>
              <img src="static\img\bgcw img\logo1.jfif" width="80" height="200" alt="TheEvenet"><h2 style="color:#00FFFF;">BGCW</h2>
            </div>
            <p style="color:#CCFB5D;text-align=justify">"Established In 1968, Bharathidasan Govt. College for Women Is Affliated To Pondicheery University the Address of the Institute Is M.G.Road, Muthialpet, Puducherry.
            You can get More Details On bgcw.puducherry.gov.in"</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4 style="color:#00FFFF;">Useful Links</h4>
            <ul>
              <li><i class="fa fa-angle-right"></i> <a href="/">Home</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="/">About us</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="/">Terms of service</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="/">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4 style="color:#00FFFF;">Contact Us</h4>
            <p>
              Muthialpet Puducherry, Puducherry<br>
              Pondicherry - 605003<br>
              Puducherry , India<br>
              <strong style="color:#00FFFF;">Phone:</strong>  0413-2212704<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0413-2213504<br>
              <strong style="color:#00FFFF;">Email:</strong>  bgcw1968@yahoo.com<br>
            </p>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong style="color:teal;">From BGCW</strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="#"><strong style="color:teal;">N.NIROSHA</strong> B.Sc Computer Science</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <!-- BGCW Map -->
  <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="static/lib/jquery/jquery.min.js"></script>
  <script src="static/lib/jquery/jquery-migrate.min.js"></script>
  <script src="static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/lib/easing/easing.min.js"></script>
  <script src="static/lib/superfish/hoverIntent.js"></script>
  <script src="static/lib/superfish/superfish.min.js"></script>
  <script src="static/lib/wow/wow.min.js"></script>
  <script src="static/lib/venobox/venobox.min.js"></script>
  <script src="static/lib/owlcarousel/owl.carousel.min.js"></script>

  <!-- Contact Form JavaScript File -->
  <script src="static/contactform/contactform.js"></script>

  <!-- BGCW Template Main Javascript File -->
  <script src="static/js/main.js"></script>
</body>

</html>
